name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
    - name: Build
      run: cargo build
    - name: Run tests
      run: cargo test --all-features
    - name: Run benchmark tests
      run: cargo test --benches --all-features
    # documentation
    - name: Build documentation
      run: cargo doc --frozen --no-deps
    - name: Create documentation index
      # cargo doc does not generate a top-level index,
      # create a redirect to our own crate doc
      run: |
        cat << EOF > target/doc/index.html
        <meta http-equiv="refresh" content="0; url=./reactor_rt/index.html" />
        EOF
    - name: Publish documentation
      uses: peaceiris/actions-gh-pages@v3.7.3
      with:
        publish_branch: gh_pages
        publish_dir: target/doc
        github_token: ${{ secrets.GITHUB_TOKEN }}

  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        components: rustfmt
    - name: Check format
      run: cargo +nightly fmt -- --check

  fetch-lf:
    uses: lf-lang/lingua-franca/.github/workflows/extract-ref.yml@master
    with:
      file: 'lingua-franca-ref.txt'

  lf-tests:
    needs: fetch-lf
    uses: lf-lang/lingua-franca/.github/workflows/rs-tests.yml@ci-rust-ref
    with:
      runtime-ref: ${{ github.ref_name }}
      compiler-ref: ${{ needs.fetch-lf.outputs.ref }}

